html, body {
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
}

#google-tasks { 
    width: 100%;
    height: 100%;
}

.app {
    width: 100%;
    height: 100%;
}

.task-list-view {
    box-sizing: border-box;
    max-width: 960px;
    min-width: 320px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.task-list-view .container {
    width: 100%;
}

.completed input {
    text-decoration: line-through;
    color: #E0E0E0 !important;
}

.action-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
}